<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<ul>
		<%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>

		  <li> <%= f.label :name %></li>
		    <%= f.text_field :name %>

		   <li><%= f.label :email %></li>
		   <%= f.text_field :email %>

		  <li><%= f.label :password %></li>
		  <li><%= f.password_field :password %></li>

		  <li><%= f.label :password_confirmation, "Confirmation" %></li>
		   <%= f.password_field :password_confirmation %>


		  <li><%= f.submit "Create my account", class: "btn btn-large btn-primary" %></li>
		<% end %>
	</ul>
	</div>
</div>